<html lang="en">
<head>
    <title>The Webpage</title>

    <link rel="stylesheet" href="/static/bulma.min.css" type="text/css"/>
    <link rel="stylesheet" href="/static/main.css?cb=20201114" type="text/css"/>

    <script src="/static/shave.js" type="text/javascript"></script>
    <script>
        if (
            localStorage.getItem("color-mode") === "dark" ||
            (window.matchMedia("(prefers-color-scheme: dark)").matches &&
                !localStorage.getItem("color-mode"))
        ) {
            document.documentElement.setAttribute("color-mode", "dark");
        } else {
            document.documentElement.setAttribute("color-mode", "light");
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var lazyloadImages;

            if ("IntersectionObserver" in window) {
                lazyloadImages = document.querySelectorAll(".lazy");
                var imageObserver = new IntersectionObserver(function(entries, observer) {
                    entries.forEach(function(entry) {
                        if (entry.isIntersecting) {
                            var image = entry.target;
                            image.src = image.dataset.src;
                            image.classList.remove("lazy");
                            imageObserver.unobserve(image);
                        }
                    });
                });

                lazyloadImages.forEach(function(image) {
                    imageObserver.observe(image);
                });
            } else {
                var lazyloadThrottleTimeout;
                lazyloadImages = document.querySelectorAll(".lazy");

                function lazyload () {
                    if(lazyloadThrottleTimeout) {
                        clearTimeout(lazyloadThrottleTimeout);
                    }

                    lazyloadThrottleTimeout = setTimeout(function() {
                        var scrollTop = window.pageYOffset;
                        lazyloadImages.forEach(function(img) {
                            if(img.offsetTop < (window.innerHeight + scrollTop)) {
                                img.src = img.dataset.src;
                                img.classList.remove('lazy');
                            }
                        });
                        if(lazyloadImages.length == 0) {
                            document.removeEventListener("scroll", lazyload);
                            window.removeEventListener("resize", lazyload);
                            window.removeEventListener("orientationChange", lazyload);
                        }
                    }, 20);
                }

                document.addEventListener("scroll", lazyload);
                window.addEventListener("resize", lazyload);
                window.addEventListener("orientationChange", lazyload);
            }
        })
    </script>
    <script>
        var trimArticle = function(id) {
            var el = document.getElementById(id)
            if (el !== null) {
                var style = getComputedStyle(el)
                if (style.maxHeight === "none") {
                    return
                }
                var height = style.maxHeight.slice(0, -2)

                var link = document.getElementById(id+"-link")
                var linkStyle = getComputedStyle(link)
                console.log(link.offsetHeight)
                height = height - (Number(link.offsetHeight) + Number(linkStyle.marginTop.slice(0, -2)) + Number(linkStyle.marginBottom.slice(0,-2)))
                height = height - Number(style.marginTop.slice(0,-2))
                height = height - Number(style.marginBottom.slice(0,-2))
                height -= 20
                shave("#"+id+"-text", height)
            }
        }
    </script>
</head>
<body>
<svg style="display: none;">
    <symbol viewBox="0 0 24 24" id="moon">
        <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
    </symbol>
    <symbol viewBox="0 0 24 24" id="sun">
        <circle cx="12" cy="12" r="5"></circle>
        <line x1="12" y1="1" x2="12" y2="3"></line>
        <line x1="12" y1="21" x2="12" y2="23"></line>
        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
        <line x1="1" y1="12" x2="3" y2="12"></line>
        <line x1="21" y1="12" x2="23" y2="12"></line>
        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
    </symbol>
</svg>
<div class="container is-fluid" style="max-width: 1200px;">
    <div class="bar level" style="margin-top:0.5rem;">
        {{range .Categories}}
            <div class="level-item has-text-centered has-text-weight-bold is-uppercase" >
                <a href="/?cat={{.}}"><p style="font-size: 0.7rem">{{.}}</p></a>
            </div>
        {{end}}
        <button
                class="color-mode__btn light--hidden"
                aria-label="Toggle light mode"
        >
            <svg aria-hidden="true">
                <title>Light Mode</title>
                <use href="#sun"></use>
            </svg>
        </button>
        <button
                class="color-mode__btn dark--hidden"
                aria-label="Toggle dark mode"
        >
            <svg aria-hidden="true">
                <title>Dark Mode</title>
                <use href="#moon"></use>
            </svg>
        </button>
    </div>
    <nav class="level" style="overflow: hidden;">
        <div class="level-left">
            <div class="sidebox-left level-item is-hidden-touch">
                <p>"RSS Feeds for the 20th century"</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <a href="/"><h1>The Webpage</h1></a>
        </div>
        <div class="level-right">
            <div class="sidebox-right level-item is-hidden-touch">
                <p>{{ .Name }}</p>
            </div>
        </div>
    </nav>
    <div class="bar level">
        <div class="level-left">
            <div class="level-item">
                {{.ID}}
            </div>
        </div>
        <div class="level-left">
            <div class="level-item">
                {{.Date}}
            </div>
        </div>
    </div>
    {{ template "content" . }}
</div>
</body>
<script src="/static/darkmode.js" type="text/javascript"></script>
<script>
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/generate-edition", true)
    xhr.send(null)
</script>
</html>
