<html lang="en">
<head>
    {{template "meta" .Meta}}

    <link rel="stylesheet" href="/static/bulma.min.css" type="text/css"/>
    <link rel="stylesheet" href="/static/main.css?cb=20201114" type="text/css"/>
    <link rel="stylesheet" href="/static/normalize.css" type="text/css"/>

    <link rel="shortcut icon" href="/static/favicon.png" />
    <link rel="apple-touch-icon" href="/static/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="/static/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86">
    <script async defer data-domain="news.russellsaw.io" src="https://plausible.io/js/plausible.js"></script>

    <script>
        (function (global, factory) {
            typeof exports === 'object' && typeof module !== 'undefined' ? module.exports = factory() :
                typeof define === 'function' && define.amd ? define(factory) :
                    (global = global || self, global.shave = factory());
        }(this, (function () { 'use strict';

            function shave(target, maxHeight) {
                var opts = arguments.length > 2 && arguments[2] !== undefined ? arguments[2] : {};
                if (typeof maxHeight === 'undefined' || isNaN(maxHeight)) throw Error('maxHeight is required');
                var els = typeof target === 'string' ? document.querySelectorAll(target) : target;
                if (!els) return;
                var character = opts.character || '…';
                var classname = opts.classname || 'js-shave';
                var spaces = typeof opts.spaces === 'boolean' ? opts.spaces : true;
                var charHtml = "<span class=\"js-shave-char\">".concat(character, "</span>");
                if (!('length' in els)) els = [els];

                for (var i = 0; i < els.length; i += 1) {
                    var el = els[i];
                    var styles = el.style;
                    var span = el.querySelector(".".concat(classname));
                    var textProp = el.textContent === undefined ? 'innerText' : 'textContent'; // If element text has already been shaved

                    if (span) {
                        // Remove the ellipsis to recapture the original text
                        el.removeChild(el.querySelector('.js-shave-char'));
                        el[textProp] = el[textProp]; // eslint-disable-line
                        // nuke span, recombine text
                    }

                    var fullText = el[textProp];
                    var words = spaces ? fullText.split(' ') : fullText; // If 0 or 1 words, we're done

                    if (words.length < 2) continue; // Temporarily remove any CSS height for text height calculation

                    var heightStyle = styles.height;
                    styles.height = 'auto';
                    var maxHeightStyle = styles.maxHeight;
                    styles.maxHeight = 'none'; // If already short enough, we're done

                    if (el.offsetHeight <= maxHeight) {
                        styles.height = heightStyle;
                        styles.maxHeight = maxHeightStyle;
                        continue;
                    } // Binary search for number of words which can fit in allotted height


                    var max = words.length - 1;
                    var min = 0;
                    var pivot = void 0;

                    while (min < max) {
                        pivot = min + max + 1 >> 1; // eslint-disable-line no-bitwise

                        el[textProp] = spaces ? words.slice(0, pivot).join(' ') : words.slice(0, pivot);
                        el.insertAdjacentHTML('beforeend', charHtml);
                        if (el.offsetHeight > maxHeight) max = pivot - 1;else min = pivot;
                    }

                    el[textProp] = spaces ? words.slice(0, max).join(' ') : words.slice(0, max);
                    el.insertAdjacentHTML('beforeend', charHtml);
                    var diff = spaces ? " ".concat(words.slice(max).join(' ')) : words.slice(max);
                    var shavedText = document.createTextNode(diff);
                    var elWithShavedText = document.createElement('span');
                    elWithShavedText.classList.add(classname);
                    elWithShavedText.style.display = 'none';
                    elWithShavedText.appendChild(shavedText);
                    el.insertAdjacentElement('beforeend', elWithShavedText);
                    styles.height = heightStyle;
                    styles.maxHeight = maxHeightStyle;
                }
            }

            return shave;

        })));
    </script>
    <script>
        const mode = localStorage.getItem("color-mode")
        if (window.matchMedia("(prefers-color-scheme: dark)").matches && !localStorage.getItem("color-mode") ) {
            document.documentElement.setAttribute("color-mode", "dark");
        } else {
            document.documentElement.setAttribute("color-mode", mode);
        }

        const font = localStorage.getItem("font-mode")
        if (!localStorage.getItem("font-mode")) {
            document.documentElement.setAttribute("font-mode", "sans");
        } else {
            document.documentElement.setAttribute("font-mode", font);
        }

        const size = localStorage.getItem("font-size")
        if (!localStorage.getItem("font-mode")) {
            document.documentElement.setAttribute("font-size", "regular");
        } else {
            document.documentElement.setAttribute("font-size", size);
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var lazyloadImages;

            lazyloadImages = document.querySelectorAll(".lazy");
            var imageObserver = new IntersectionObserver(function(entries, observer) {
                entries.forEach(function(entry) {
                    if (entry.isIntersecting) {
                        var image = entry.target;
                        image.src = image.dataset.src;
                        image.classList.remove("lazy");
                        imageObserver.unobserve(image);
                    }
                });
            });

            lazyloadImages.forEach(function(image) {
                imageObserver.observe(image);
            });
        })
    </script>
    <script>
        var trimArticle = function(id) {
            var el = document.getElementById(id)
            if (el == null) {
                return
            }
            if (el.classList.contains("trimmed")) {
                return
            }
            var id = el.id
            var style = getComputedStyle(el)
            if (style.maxHeight === "none") {
                return
            }
            var height = style.maxHeight.slice(0, -2)
            var link = document.getElementById(id+"-link")
            var linkStyle = getComputedStyle(link)
            height = height - (Number(link.offsetHeight) + Number(linkStyle.marginTop.slice(0, -2)) + Number(linkStyle.marginBottom.slice(0,-2)))
            height = height - Number(style.marginTop.slice(0,-2))
            height = height - Number(style.marginBottom.slice(0,-2))
            height -= 20
            shave("#"+id+"-text", height)
            el.classList.add("trimmed")
        }

        document.addEventListener("DOMContentLoaded", function() {
            var lazyTrim;

            lazyTrim = document.querySelectorAll(".article");
            var trimObserver = new IntersectionObserver(function(entries, observer) {
                entries.forEach(function(entry) {
                    if (entry.isIntersecting) {
                        trimArticle(entry.target.id)
                        trimObserver.unobserve(entry.target)
                    }
                });
            });

            lazyTrim.forEach(function(entry) {
                trimObserver.observe(entry);
            });
        })
    </script>
</head>
<body>
<svg style="display: none;">
    <symbol viewBox="0 0 24 24" id="moon">
        <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
    </symbol>
    <symbol viewBox="0 0 24 24" id="sun">
        <circle cx="12" cy="12" r="5"></circle>
        <line x1="12" y1="1" x2="12" y2="3"></line>
        <line x1="12" y1="21" x2="12" y2="23"></line>
        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
        <line x1="1" y1="12" x2="3" y2="12"></line>
        <line x1="21" y1="12" x2="23" y2="12"></line>
        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
    </symbol>
</svg>
<div class="container is-fluid" style="
    max-width: 1200px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;">
    <div class="level" style="align-items: baseline; margin-left: 1rem; margin-right: 1rem; margin-bottom: 1rem">
        <div class="is-hidden-mobile" style="margin-right: 2rem; width: 100%; display: flex; flex-direction: row; justify-content: space-between; flex-wrap: nowrap">
        {{ range .Categories }}
            <a href="/?cat={{.}}">{{.}}</a>
        {{ end }}
        </div>
        <div class="level-right" style="margin-top: 1rem;">
            <div style="width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap">
                <button class="style-button" aria-label="Open style menu">
                    Aa
                </button>
                <div class="style-config" style="display:none">
                    <div style="display: flex; width: 100%; margin-bottom: 10px; justify-content: space-between;">
                        <button
                                class="color-mode__btn"
                                aria-label="Toggle light mode"
                        >
                            <svg onclick="light()">
                                <title>Light Mode</title>
                                <use href="#sun"></use>
                            </svg>
                        </button>
                        <button
                                class="color-mode__btn"
                                aria-label="Toggle dark mode"
                        >
                            <svg onclick="dark()">
                                <title>Dark Mode</title>
                                <use href="#moon"></use>
                            </svg>
                        </button>
                    </div>
                    <div style="display: flex; margin-bottom: 10px; align-items: baseline;">
                        <button class="color-mode__btn" onclick="regular()">
                            <span class="regular">A</span>
                        </button>
                        <button class="color-mode__btn" onclick="big()">
                            <span class="big">A</span>
                        </button>
                    </div>
                    <button class="color-mode__btn sans" onclick="sans()">
                        Sans
                    </button>
                    <button class="color-mode__btn serif" onclick="serif()">
                        Serif
                    </button>
                </div>
                <script>
                    var toggleStyle = document.querySelector(".style-button"); // Set up event listeners
                    toggleStyle.addEventListener("click", ev => {
                        const e =document.querySelector(".style-config")
                        console.log(e)
                        if (e.style.display === 'none') {
                            e.style.display = 'flex'
                        } else {
                            e.style.display = 'none'
                        }
                    });
                </script>
                {{ if .User }}
                    <a style="margin-left: 2rem;" href="/settings">{{.User.Name}}</a>
                {{ else }}
                    <a  style="margin-left: 2rem;" href="/login">log in</a>
                {{ end }}
            </div>
        </div>
    </div>
    <div class="level" style="margin-top:0rem; align-items: flex-end">
        <nav class="level" style="
        overflow: hidden;
        width: 100%;
        align-items: flex-end;
        margin-bottom: 1rem;
">
            <div class="level-left title-container">
                <a href="/"><h1>The Webpage</h1></a>
            </div>
            <div class="level-left is-hidden-mobile is-flex" style="align-items: baseline;">
                <form action="/search" method="get" style="margin-right: 1em;">
                        <input class="text-input" type="textbox" name="q" value="Search"
                               onfocus="if(this.value==='Search') {this.value=''}"
                               onblur="if(this.value==='') {this.value='Search'}" />
                </form>
            </div>
        </nav>
    </div>
    {{ if .Error }}
        <div class="error-box">
            <h3>Error</h3>
            <p>{{.Error}}</p>
        </div>
    {{else}}
        {{ template "content" . }}
    {{end}}
</div>
</body>
<script>
    var dark = function() {
        document.documentElement.setAttribute("color-mode", "dark"); // Sets the user's preference in local storage

        localStorage.setItem("color-mode", "dark");
        return;
    }

    var light = function() {
        document.documentElement.setAttribute("color-mode", "light"); // Sets the user's preference in local storage

        localStorage.setItem("color-mode", "light");
        return;
    }

    var microfiche = function() {
        document.documentElement.setAttribute("color-mode", "microfiche"); // Sets the user's preference in local storage

        localStorage.setItem("color-mode", "microfiche");
        return;
    }

    var dracula = function() {
        document.documentElement.setAttribute("color-mode", "dracula"); // Sets the user's preference in local storage

        localStorage.setItem("color-mode", "dracula");
        return;
    }

    var sans = function() {
        document.documentElement.setAttribute("font-mode", "sans"); // Sets the user's preference in local storage

        localStorage.setItem("font-mode", "sans");
    }

    var serif = function() {
        document.documentElement.setAttribute("font-mode", "serif"); // Sets the user's preference in local storage

        localStorage.setItem("font-mode", "serif");
    }

    var big = function() {
        document.documentElement.setAttribute("font-size", "big"); // Sets the user's preference in local storage

        localStorage.setItem("font-size", "big");
        location.reload()
    }

    var regular = function() {
        document.documentElement.setAttribute("font-size", "regular"); // Sets the user's preference in local storage

        localStorage.setItem("font-size", "regular");
        location.reload()
    }
</script>
</html>
