{{ define "content" }}
<div class="tile is-ancestor is-flex-mobile" style="margin-left: 0;margin-right: 0">
    <div class="tile is-vertical is-gapless">
        {{ template "section-top" . }}
        {{ template "section-2" . }}
        {{ template "section-3" . }}
        {{ template "section-4" . }}
        {{ template "section-5" . }}
        {{ template "section-6" . }}
        {{ template "section-6" . }}
        {{ template "section-7" . }}
        {{ template "section-3" . }}
        {{ template "section-8" . }}
        {{ template "section-2" . }}
        {{ template "section-1" . }}
        {{ template "section-2" . }}
        {{ template "section-3" . }}
        {{ template "section-4" . }}
        {{ template "section-5" . }}
        {{ template "section-6" . }}
        {{ template "section-6" . }}
        {{ template "section-7" . }}
        {{ template "section-3" . }}
        {{ template "section-8" . }}
        {{ template "section-2" . }}
    </div>
</div>
{{ end }}

