{{define "content"}}
    <div style="display: flex; flex-direction: column; width: 100%; margin-bottom: 4rem;">
        <h2 style="margin-bottom: 3rem;">{{.Data.Query}}</h2>
        {{ range .Data.Results }}
            <div style="display:flex">
                {{if .Article.ImageURL}}
                    <img src="{{.Article.ImageURL}}" style="width:5em; height:5em; object-fit: cover; margin-right: 1rem; border-radius: 10px"/>
                {{else}}
                    <div style="width:80px; height:80px; overflow: visible; object-fit: cover; margin-right: 1rem; background-color: rgba(134,134,134,0.43); border-radius: 10px">

                    </div>
                {{end}}
                <div style="display: flex; flex-direction: column; margin-bottom: 2rem; width: 80%">
                    <a href="/article?id={{.Article.ID}}">
                        <h3>{{.Article.Title}}</h3>
                        <p>{{.HitText}}</p>
                    </a>
                </div>
            </div>
        {{end}}
        <a href="https://firesearch.dev">powered by Firesearch</a>
    </div>
{{end}}