{{define "content"}}
    <div>
        <div style="
            width: 100%;
            display: flex;
            align-items: baseline;
            justify-content: space-between">
        <h2>{{.User.Name}}</h2>
        <a href="/logout" style="font-weight: 900">sign out</a>
        </div>
        <a style="font-weight: 900;" href="/settings/source?action=edit">Add Source</a>
        <div style="display:flex; width: 100%; flex-wrap: wrap; justify-content: center;">
        {{ range .Sources}}
            <div style="
            display: flex;
            flex-direction: column;
            margin: 0.5rem;
            border: 1px solid var(--fg);
            border-radius: 3px;
            padding: 1rem;
            width: 30%;
            overflow: hidden;">
                <div style="width:100%; display: flex; justify-content: space-between">
                    <h3>{{.Name}}</h3>
                    <div>
                    <a href="/settings/source?id={{.ID}}&action=edit">
                        <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
                        </svg>
                    </a>
                    <a href="/settings/source?id={{.ID}}&action=delete">
                        <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
                        </svg>
                    </a>
                    </div>
                </div>
                <p>{{.FeedURL}}</p>
            </div>
        {{end}}
        </div>
    </div>
{{end}}