:root[color-mode="dark"] {
    --fg: #ffffff;
    --bg: #1f1f1f;
    --c1: #ffffff;
    --c2: #ffffff;
    --c3: #ffffff;
    --c4: #ffffff;
    --thin-line: 0.5px solid #ffffff;
    --line: 1px solid #ffffff;
}

:root[color-mode="microfiche"] {
    --fg: #d1e389;
    --bg: #162047;
    --c1: #d1e389;
    --c2: #d1e389;
    --c3: #d1e389;
    --c4: #d1e389;
    --c5: #d1e389;
    --thin-line: 0.5px solid #d1e389;
    --line: 1px solid #d1e389;
}

:root[color-mode="dracula"] {
    --fg: #bd93f9;
    --bg: #282a36;
    --c1: #8be9fd;
    --c2: #50fa7b;
    --c3: #ffb86c;
    --c4: #ff79c6;
    --c5: #bd93f9;
    --thin-line: 0.5px solid #f1fa8c;
    --line: 1px solid #ff5555;
}

:root[color-mode="light"] {
    --fg: #1f1f1f;
    --bg: #ffffff;
    --c1: #1f1f1f;
    --c2: #1f1f1f;
    --c3: #1f1f1f;
    --c4: #1f1f1f;
    --c5: #1f1f1f;
    --thin-line: 0.5px solid #1f1f1f;
    --line: 1px solid #1f1f1f;
}


:root[color-mode="dark"]  .dark-invert {
    filter: invert(100%);
}

:root[color-mode="light"] .light--hidden {
    display: none;
}

:root[color-mode="dark"]  .dark--hidden {
    display: none;
}

.color-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 4rem);
    padding: 1rem 0.5rem;
    margin: 0;
}

.color-mode__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    color: var(--fg, #111111);
    cursor: pointer;
    background: none;
    border: none;
}

.color-mode__btn svg {
    width: 20px;
    height: 20px;
    margin: 0.2rem;
    fill: none;
    stroke: var(--fg, #222222);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5px;
}

.color-mode__btn:hover svg,
.color-mode__btn:focus svg, .color-mode__btn:focus {
    outline: none;
    fill: var(--fg, #fff7d6);
}

body,html {
    background-color: var(--bg);
    color: var(--fg);
    font-family: Georgia, serif;
}

p {
    font-size: 1rem;
}

a {
    color: var(--c1);
}

a:hover {
    color: var(--c3);
}

@font-face {
    font-family: "NewYorker";
    src: url("/static/fonts/NewYorkerEngraved-zR1.woff");
}

@font-face {
    font-family: "OldEnglish";
    src: url("/static/fonts/OldEnglishFive-axyVg.woff");
}

h1 {
    font-size: 4rem;
    font-family: "OldEnglish", Georgia, serif;
}

h2 {
    font-size: 3rem;
    font-weight: 600;
    word-wrap: break-spaces !important;
}

h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

h4 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

h5 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.bar {
    border-top: var(--thin-line);
    border-bottom: var(--thin-line);
    padding: 0.1rem;
    font-size: 1.2rem;
    width: 100%;
    border-style: solid;
    border-right: none;
    border-left: none;
}

.bar {
    border-top: var(--thin-line);
    border-bottom: var(--thin-line);
    padding: 0.1rem;
    font-size: 1.2rem;
    width: 100%;
    border-style: solid;
    border-right: none;
    border-left: none;
    margin-bottom: 1rem;
}

.sidebox-left {
    border: var(--thin-line);
    font-size: 1.2rem;
    width: 180px;
    margin-top: 1rem;
    padding: 1rem;
}

.sidebox-right {
    padding: 0.1rem;
    font-size: 1.2rem;
    width: 180px;
    margin-top: 1rem;
    font-family: Arial, sans-serif;
    font-weight: 600;
    align-items: flex-start;
}

.article {
    margin-bottom: 1rem;
    padding-top: 0;
    border-bottom: none;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    font-size: 0.8rem;
    overflow-x: hidden;
    overflow-y: hidden !important;
    border-right: var(--thin-line);
    max-height: inherit;
}

.divider {
    border-bottom: var(--line);
    width: 100%;
    height: 10px;
    margin-top: 0.9rem;
    margin-bottom: 1.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.subcol {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    column-count: auto;
    column-width: 10rem;
    hyphens: auto;
}

.subcol-hasimage {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    column-count: auto;
    column-width: 10rem;
    hyphens: auto;
}

.overline {
    border-bottom: var(--thin-line);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0.7rem;
}

.underline {
    margin-bottom: 1rem;
    border-bottom: var(--thin-line);
    margin-left: 30%;
    margin-right: 30%;
}

.article-content {
	font-size: 1.5rem;
}

.tile {
    flex-basis: inherit !important;
    flex-grow: initial !important;
}

p + p {
    text-indent: 2ch;
}

.source-link {
    color: var(--c4);
}

.read-more {
    color: var(--c2);
}

.h100 {max-height: 100px !important;}
.h150 {max-height: 150px !important;}
.h200 {max-height: 200px !important;}
.h250 {max-height: 250px !important;}
.h300 {max-height: 300px !important;}
.h350 {max-height: 350px !important;}
.h400 {max-height: 400px !important;}
.h450 {max-height: 450px !important;}
.h500 {max-height: 500px !important;}
.h550 {max-height: 550px !important;}
.h600 {max-height: 600px !important;}
.h650 {max-height: 650px !important;}
.h700 {max-height: 700px !important;}
.h750 {max-height: 750px !important;}
.h800 {max-height: 800px !important;}
.h850 {max-height: 850px !important;}
.h900 {max-height: 900px !important;}
.h950 {max-height: 950px !important;}
.h1000 {max-height: 1000px !important;}
.h1050 {max-height: 1050px !important;}
.h1100 {max-height: 1100px !important;}
.h1150 {max-height: 1150px !important;}
.h1200 {max-height: 1200px !important;}

